In [5]:
import pandas as pd

In [6]:
df = pd.read_excel("../dados/orders_big.xlsx")

In [7]:
df.head(3)

   order_id  customer_id order_date  product  quantity  price
0     50001         1858 2024-12-12   Webcam         1    700
1     50002         1573 2025-12-29  Cadeira         2   3500
2     50003         1902 2024-05-12    Mouse        -1    700

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     10000 non-null  int64
 1   customer_id  10000 non-null  int64
 2   order_date   9781 non-null   datetime64[ns]
 3   product      10000 non-null  object
 4   quantity     10000 non-null  int64
 5   price        10000 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 468.9+ KB

In [9]:
df.loc[df['quantity'] < 0, 'quantity'] = df['quantity'] * -1

In [10]:
df['quantity']

0       1
1       2
2       1
3       1
4       2
       ..
9995    2
9996    1
9997    2
9998    1
9999    1
Name: quantity, Length: 10000, dtype: int64

In [11]:
df.isna().sum()

order_id         0
customer_id      0
order_date     219
product          0
quantity         0
price            0
dtype: int64

In [12]:
df.fillna(value={'order_date': df['order_date'].median()}, inplace=True)

In [13]:
df.isna().sum()

order_id       0
customer_id    0
order_date     0
product        0
quantity       0
price          0
dtype: int64

In [14]:
df.to_excel("../dados/orders_big_refactory.xlsx", index=False)

In [15]:
df2 = pd.read_excel("../dados/customers_big.xlsx")

In [16]:
df2.head(5)

,customer_id,name,email,city,signup_date
0,1,Evelyn Sales,carlos-eduardoaraujo@uol.com.br,Rio de Janeiro,2024-09-19
1,2,Felipe Vieira,ada-luz@uol.com.br,Curitiba,2023-04-10
2,3,Srta. Ana Carolina Campos,barroscarolina@correia.br,Campinas,2024-09-08
3,4,Ana Sophia Campos,rodriguesnina@yahoo.com.br,Curitiba,2025-08-04
4,5,Gabrielly Teixeira,laura64@bol.com.br,Curitiba,2023-10-14

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2000 non-null   int64
 1   name         1968 non-null   object
 2   email        2000 non-null   object
 3   city         2000 non-null   object
 4   signup_date  1940 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 78.3+ KB

In [18]:
df2.isna().sum()

customer_id     0
name           32
email           0
city            0
signup_date    60
dtype: int64

In [19]:
df2.fillna(value={'name': 'Sem Nome', 'signup_date': df2['signup_date'].median()}, inplace=True)

In [20]:
df2.isna().sum()

customer_id    0
name           0
email          0
city           0
signup_date    0
dtype: int64

In [21]:
df2.to_excel("../dados/customers_big_refactory.xlsx", index=False)